<template>
  <div id="purchase">
    <div class="purchase__title-wrapper">
      <h2 class="purchase__title">二步驟 <br> 打造專屬殼</h2>
    </div>
    <!-- 手機殼顯示區 -->
    <div class="display__area">
      <section class="purchase__preview">
        <div class="purchase__preview-images-wrapper">
          <img ref="device" src="https://cdn.shopify.com/s/files/1/0740/2335/products/phone45-12-Pro_AppleGraphite_d04b461d-15c3-4e43-9b43-a828eaa4478c.png?v=1603352312" alt="" class="purchase__preview-image main">
          <img ref="bumper" src="https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Bumper_87d2c086-7e6a-4f40-93d9-33828a249bbe.png?v=1597911746" alt="" class="purchase__preview-image sub case">
          <img ref="rim" src="https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Rim_2e73b29c-7262-463d-b047-2f91a790068a.png?v=1597911791" alt="" class="purchase__preview-image sub rim purchase__preview-image--backward">
          <img ref="button" src="https://cdn.shopify.com/s/files/1/0740/2335/products/Black-Button_23534b09-c1aa-4ab4-8174-ded2bc09069e.png?v=1597911773" alt="" class="purchase__preview-image sub button">
          <img ref="minisite" src="https://cdn.shopify.com/s/files/1/0740/2335/products/minisite-NPB0118526L_b4665252-c418-480f-9ca3-b84fb860ca2c.png?v=1603868182" alt="" class="purchase__preview-image sub backplate"></div>
          <div class="purchase__selector-wrapper phone">
            <div class="color-container">
              <p class="color-picker-title">裝置<br>顏色</p>
              <div class="normal color-picker color-picker--vertical">
                <div id="apple_graphite" class="color-picker--vertical__option active" @click="defaultColorChange">
                  <div class="dot apple_graphite"></div>
                </div>
                <div id="silver" class="color-picker--vertical__option" @click="silverColorChange">
                  <div class="dot silver"></div>
                </div>
                <div id="gold" class="color-picker--vertical__option" @click="goldColorChange">
                  <div class="dot gold"></div>
                </div>
                <div id="pacific_blue" class="color-picker--vertical__option" @click="blueColorChange">
                  <div class="dot pacific_blue"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="purchase__backplate-switch-wrapper">
            <div class="backplate-switch light">
              <section class="backplate-switch__common">
                <div class="backplate-switch__option">
                  <div class="backplate-switch__checkbox backplate-switch__checkbox--active"></div>
                  <p class="backplate-switch__mode-name">背板模式</p>
                </div>
                <div class="backplate-switch__option">
                  <div class="backplate-switch__checkbox"></div>
                  <p class="backplate-switch__mode-name">邊框模式</p>
                </div>
              </section>
            </div>
          </div>
        </section>
    </div>
    <!-- 型號/顏色顯示區 -->
    <div class="selection__area">
      <div class="selection__area__top">
        <div class="device__selector">
          <select name="" id="device" v-model="deviceSelected" @change="deviceChange">
            <option v-for="option in device" :key="option" :value="option">{{ option }}</option>
          </select>
        </div>

        <div class="outward">
          <div class="option__block">
            <p class="option__title">手機殼顏色</p>
            <div class="icon"></div>
          </div>
          <div class="option__block">
            <p class="option__title">背板樣式</p>
            <div class="icon"></div>
          </div>
        </div>
      </div>

      <div class="checkout">
        <div class="checkout__detail">
          <p class="checkout__detail__info">產品包含:</p>
          <p class="checkout__detail__info">手機殼外框 (黑) x 1</p>
          <p class="checkout__detail__info">按鍵 (黑) x 3</p>
          <p class="checkout__detail__info">背板 (透明) x 1</p>
          <p class="checkout__detail__info">飾條 (黑) x 1</p>
        </div>
        <div class="checkout__button__block">
          <button class="checkout__btn" @click="addToCart">加入購物車</button>
          <p class="price">$800 TWD</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { fetchData } from '../api/api.js'

export default {
  components: {
  },
  props: {
  },
  data () {
    return {
      cartItems: [],
      product: {},
      device: [],
      deviceSelected: 'iphone 12 pro'
    }
  },
  mounted () {
    this.fetchProductData()
  },
  methods: {
    async fetchProductData () {
      return fetchData()
        .then(res => {
          res.map(item => {
            const device = item.tags.find(item => item.startsWith('device')).split('-')
            device.shift()

            const deviceType = device.join(' ')
            if (this.product[deviceType]) {
              this.product[deviceType] = [...this.product[deviceType], item]
            } else {
              this.product[deviceType] = [item]
            }

            this.device.includes(deviceType) ? this.device = [...this.device] : this.device = [...this.device, deviceType]
          })
        }).catch(error => {
          console.error('error: ', error)
        })
    },

    addToCart () {
      // pretend to choose first product
      const item = this.product[this.deviceSelected][0]
      this.cartItems = [...this.cartItems, item]
      console.log('Add To Cart...')
      console.log(this.cartItems)
    },

    deviceChange () {
      // change device & render view
      console.log('DeviceChange...')
    },

    defaultColorChange () {
      this.$refs.device.src = 'https://cdn.shopify.com/s/files/1/0740/2335/products/phone45-12-Pro_AppleGraphite_d04b461d-15c3-4e43-9b43-a828eaa4478c.png?v=1603352312'
    },

    silverColorChange () {
      this.$refs.device.src = 'https://cdn.shopify.com/s/files/1/0740/2335/products/phone45-12-Pro_Silver_0643af11-0090-418d-b702-90618c629585.png?v=1603352312'
    },

    goldColorChange () {
      this.$refs.device.src = 'https://cdn.shopify.com/s/files/1/0740/2335/products/phone45-12-Pro_Gold_c78570d7-c288-402b-bde5-86d95fc2a3e8.png?v=1603352312'
    },

    blueColorChange () {
      this.$refs.device.src = 'https://cdn.shopify.com/s/files/1/0740/2335/products/phone45-12-Pro_PacificBlue_839fc789-051c-4f78-8380-7a5402012590.png?v=1603352312'
    }
  }
}
</script>

<style lang="sass" scoped>
@font-face
  font-family: MarkPro-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro-Bold.otf?12401685184872946130')

@font-face
  font-family: NotoSansCJKtc-Bold
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Bold.otf?12610878586689504297')

@font-face
  font-family: MarkPro
  src: url('https://cdn.shopify.com/s/files/1/0274/8717/files/MarkPro.otf?4269257120200746974')

@font-face
    font-family: NotoSansCJKtc-Regular
    src: url(https://cdn.shopify.com/s/files/1/0274/8717/files/NotoSansCJKtc-Regular.otf?4935245772218057441)

#purchase
  position: relative
  width: 100%
  height: 100%
  max-width: 1440px
  display: flex
  padding: 120px 60px
  align-items: flex-start
  justify-content: space-between
  box-sizing: border-box

.purchase__title-wrapper
  width: 25%
  max-width: 220px

.display__area
  height: 100%

.selection__area
  display: flex
  flex-direction: column
  justify-content: space-between
  align-self: stretch
  margin-left: 70px
  width: 35%
  max-width: 260px

  .device__selector
    margin-bottom: 25px

  .checkout

    &__detail
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'

      &__info
        margin: 15px 0
        padding: 0
        line-height: 14px
        font-size: 14px
        text-align: left

    &__button__block
      display: flex
      justify-content: space-between
      align-items: center
      font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'

      .price
        font-size: 14px
        text-algin: right

    &__btn
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 40px
      max-width: 180px
      color: #FFF
      // font-family: 'MarkPro-Bold', 'NotoSansCJKtc-Bold'
      box-shadow: none
      border: none
      border-radius: 20.5px
      background-color: #2D2D2D
      transition: all .3s ease
      white-space: inherit

  .outward
    border-top: 2px solid #D8D8D8

  .option__block
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 20px 0
    border-bottom: 1px solid #D8D8D8

    .option__title
      font-size: 14px
      font-family: 'MarkPro', 'NotoSansCJKtc-Regular'
      color: #2D2D2D

    .icon
      position: absolute
      right: 0
      top: 50%
      width: 16px
      height: 16px
      transform: translateY(-50%)
      cursor: pointer

      &::before
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transform: rotate(90deg)
        transition: all .3s ease

      &::after
        content: ''
        position: absolute
        left: 0
        width: 1px
        height: 16px
        background-color: #D8D8D8
        transition: all .3s ease

    p
      margin: 0
      padding: 0

.purchase__preview
  position: relative
  margin: 0 auto
  width: 100%
  max-width: 650px
  height: 100%
  &-images-wrapper
    position: relative
    height: 80%
  &-image
    &.main
      position: relative
      height: 100%
      z-index: 2
    &.sub
      position: absolute
      height: 100%
      top: 0
      left: 0
    &--backward
      z-index: 1
      transition: all .3s
      transform: translate(12%,-10%)
    &.case
      z-index: 3
    &.backplate
      z-index: 2

.purchase__selector-wrapper
  &.phone
    position: absolute
    top: 50%
    left: 25%
    transform: translateY(-50%)
    z-index: 3

.purchase__backplate-switch-wrapper
  position: absolute
  top: 50px
  right: 0
  z-index: 3

.color-picker-title
  position: absolute
  top: 0
  right: 0
  margin: 0
  font-size: 12px
  color: #000
  line-height: normal
  text-transform: uppercase
  transform: translateY(-120%)
  opacity: .2

.color-picker--vertical
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  --desc-text-width: 150px
  --desc-dash-width: 16px
  --desc-dash-margin: 13px

  &.normal
    --border-color: #d5d5d5
    --hover-border: #d5d5d5
    --dash-color: #d8d8d8
    --font-color: #2d2d2d

  &__option
    position: relative
    width: 29px
    height: 29px
    border: 1px solid transparent
    border-radius: 50%
    z-index: 200
    transition: all .3s ease
    margin-bottom: 18px
    display: flex
    align-items: center
    justify-content: center
    &:hover
      border: 1px solid var(--hover-border)
    .active, .dot
      width: 23px
      height: 23px
    .dot
      border: 1px solid var(--border-color)
      border-radius: 50%
      cursor: pointer

.apple_graphite
  background-color: #686763

.silver
  background-color: #c9c8c9

.gold
  background-color: #fadcc2

.pacific_blue
  background-color: #43616c
</style>
